{% extends 'base.html' %}
{% block title %}BGP-LLaMA{% endblock %}
{% block heading %}BGP-LLaMA & Django{% endblock %}
{% block content %}
<div class="content-container">
  <div class="query-container">
    <h2>Existing Queries</h2>
    <ul class="query-list">
      {% for q in queries %}
        <li><a href={{q.get_absolute_url}}><button class="query-button">{{q.query|truncatewords:5}}</button></a></li>
        <!-- Add more queries as needed -->
      {% endfor %}
    </ul>
  </div>
  <div class="input-output-container">
    <div class="center-text">
    <h2>Welcome to BGP-LLaMA on Django</h2>
    <p>Enter your query in the text box below.</p>
    <p>The model used in this page is BGP-LLaMA 7B which can be located <a href="hyonbokan/BGP-LLaMA7-BGPStream-5k-cutoff-1024-max-2048">here</a></p>
    </div>
    <h2>Input</h2>
    <form method="get" action="{% url 'ggml' %}">
        <input type="text" id="user-input" placeholder="Enter your query here" type="search" name="query">
        <button type="submit">Submit</button>
    </form>
    <p>Your query: <span>{{query}}</span></p>
    <div class="output" id="output-location", style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word; max-width: 100%; overflow-x: auto; border: 1px solid #ccc; padding: 1em; box-sizing: border-box;">
      <pre>{{ output|linebreaksbr }}</pre>
      {% comment %} <pre style="white-space: pre-wrap; word-wrap: break-word; overflow-wrap: break-word; max-width: 100%; overflow-x: auto; border: 1px solid #ccc; padding: 1em; box-sizing: border-box;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.
     </pre> {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}
